.assessment-cards {
  margin-top: 120px;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
  }
}

.assessment-card {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 295px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "title image"
    "text  image"
    "btn   image";
  column-gap: 22px;
  background-color: var(--color-bg-card);
  border-radius: 16px;
  padding: 30px;
  overflow: hidden;

  &:hover .assessment-card__image img {
    transform: scale(1.1);
  }

  &--disabled {
    .assessment-card__title,
    .assessment-card__text {
      color: var(--color-text-disabled);
    }

    .assessment-card__image {
      opacity: 0.3;
    }
  }

  &__title {
    grid-area: title;
    font-size: clamp(20px, calc(0.52vw + 17.98px), 28px);
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-text-dark);
    margin-bottom: 16px;
    align-self: start;
  }

  &__text {
    grid-area: text;
    font-size: clamp(16px, calc(0.26vw + 14.98px), 20px);
    font-weight: 400;
    line-height: 1.25;
    color: var(--color-text-dark);
    align-self: start;
  }

  &__image {
    grid-area: image;
    align-self: end;
    justify-self: end;

    img {
      display: block;
      width: 263px;
      height: 263px;
      object-fit: contain;
      object-position: bottom right;
      transition: transform var(--transition-speed);
    }
  }

  .btn-primary {
    grid-area: btn;
    align-self: end;
    justify-self: start;
    margin-top: 32px;
  }
}
